/* ==========HEADER========== */

.welcome {
  background-image: url(../images/banner-bg-tablet.jpg);
}

.menu-button {
  display: block;
}

.menu-list {
  display: none;
}

.title {
  font-size: 40px;
}

/* ==========TRENDS========== */

.trends-wrapper {
  margin-top: 50px;
}

.trends-title {
  font-size: 18px;
}

.trends-posts {
  flex-wrap: wrap;
}

.trends-post-section {
  height: 250px;
  width: calc(50% - 2px);
}

.trends-post-section:nth-child(n+3) {
  margin-top: 2px;
}

.trends-post-link {
  font-size: 17px;
}

/* ==========CONTENT========== */

.content-wrapper {
  max-width: 730px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.posts {
  margin-right: 35px;
}

.post-section {
  flex-direction: column;
  border-bottom: 3px solid #eeeeee;
}

.post-section:last-child {
  border: none;
}

.post-section:nth-child(n+2) {
  margin-top: 40px;
}

.post-picture {
  max-width: 395px;
  margin-right: 0;
  margin-bottom: 8px;
}

.title-link {
  font-size: 17px;
}

.date-author {
  margin-bottom: 30px;
}

/*  ==========SHOP==========  */

.shop-wrapper {
  max-width: 730px;
  margin-bottom: 50px;
}

.shop-title {
  font-size: 18px;
}

.shop-products {
  flex-wrap: wrap;
}

.product-picture {
  height: 225px;
}

.product-section {
  margin-bottom: 48px;;
}

.product-info-link {
  font-size: 17px;
}

/*  ==========FOOTER==========  */

.footer {
  max-width: 730px;
}

@media (orientation: landscape) {
  .trends-post-section {
    width: calc(25% - 3px);
  }
}
